@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Poppins:wght@300;400;700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Young+Serif&display=swap');

:root{
    --white: hsl(0, 0%, 100%);
    --Slate-300: hsl(212, 45%, 89%);
    --Slate-500: hsl(216, 15%, 48%);
    --Slate-900: hsl(218, 44%, 22%);

    --Outfit: "Outfit",sans-serif;
    --Poppins: "Poppins",sans-serif;
    --Roboto: "Roboto",sans-serif;
    --Young-Serif: "Young Serif", serif;
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height:100vh;
    min-width: 350px;
    background:var(--Slate-300);
    font-family: var(--Outfit);
    font-size: 15px;
}

main{
    max-width:370px;
    background:var(--white);
    border-radius: 15px;
    padding:18px 15px;
    margin:10px 0;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

}

.card img{
    width:100%;
    border-radius: 12px;
}

.text{
    line-height: 1.2;
}

.text h1 {
    color:var(--Slate-900);
    font-weight: 600;
    margin:12px 0;
}

.text p{
    margin-bottom:5px;
    color: var(--Slate-500);
    font-family: var(--Poppins);
    font-weight: 300;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%);
}
